# run backup push / pull で同期するファイル・ディレクトリのパスを1行1つずつ記述する
# - "#" で始まる行と空行は無視される
# - "~" はホームディレクトリに展開される
# - ファイル・ディレクトリどちらも指定可能
# - "!" で始まる行は rsync の除外パターンとして扱われる（--exclude に渡される）
#
# 例:
# --- バックアップに含めるパス ---
# ~/.ssh/config
# ~/.gitconfig.local
# ~/.setenv.local
# ~/projects
#
# --- 対象から除外するパス ---
# !.git
# !node_modules
